/**My personal portfolio CSS**/
/**Universal CSS; then class/IDs**/
html {
	min-height: 100%;
	box-sizing: border-box;
	position: relative;
}

body {
	/*background-image: url("images/camodetailed.jpg");*/
	/*background-repeat: repeat;*/
	background-color: #C1D6BA;
	/*background-attachment: scroll;*/
	background-size: 100%;
	margin-bottom:150px;
	/*background-position: top;*/
	/*overflow-x: hidden;*/
}
#logo{
	width: 100px;
	height: 100px;
}
#app {
	height:auto;
	width: 100vw;	
}

#mainSection {
	margin: 0 auto;
  	padding-top: 64px;
  	/*max-width: 640px;*/
  	width: 100%;
  	height: 100%; 	
}

#contact {
	text-shadow: 1px 1px #000000;
}
/*
@media (min-height: 700px) {

	#app {
		height : auto;
	}

}*/
nav {

}

h1 {
	color: #f8f8ff;
	text-align: center;
	background-image: url("images/camodetailed.jpg");
	font-size: 80px;
	margin-bottom: 0px;
}

p {
	font-size: 20px;
	text-align: left;
	color: #f8f8ff;

}

h3 {
	text-align: left;
	color: #f8f8ff;

}

.frontTitle {
	text-shadow: 2px 2px #000000;
}

/*footer*/
.navbar-text > a {
	color: #f8f8ff;
	
	text-decoration: none;
}

.conroypic {
	max-height: 600px;
}

.minion {
	max-height: 200px;
}

.project {
	background-color: #2F4B26;
	padding-bottom: 50px;
}
.text-black{
	color: #000000;
}

.footer {
	color: black;
	position:absolute;
	background-color: #C1D6BA;
	width: 101%;
	height:125px;
	bottom: 0px;
	margin-bottom: 0;
}